<form [formGroup]="studentForm" (submit)="onSubmit()">

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel">
  
        <!-- Champ nom -->
        <div class="form-group">
          <label for="name">Nom</label>
          <a *ngIf="validator.visibleDefaultName" (click)="backToSnap('name')"><i class="waves-effect right material-icons">autorenew</i></a>
          <input type="text" formControlName="name" id="name"
                  (ngModelChange)="checkDifferences($event, 'name')"
                  required
                  name="name"
                  placeholder="Ex. Henry Cavill">
        </div>

        <!-- Champ numéro de téléphone -->
        <div class="form-group">
          <label for="phoneNumber">Numéro de téléphone</label>
          <a *ngIf="validator.visibleDefaultPhonenumber" (click)="backToSnap('phoneNumber')"><i class="waves-effect right material-icons">autorenew</i></a>
          <input type="text" formControlName="phoneNumber" id="phoneNumber"
                (ngModelChange)="checkDifferences($event, 'phoneNumber')"
                required
                name="phoneNumber"
                placeholder="Ex. 648777048">
        </div>
  
        <!-- Champ email -->
        <div class="form-group">
          <label for="hp">E-mail</label>
          <a *ngIf="validator.visibleDefaultEmail" (click)="backToSnap('email')"><i class="waves-effect right material-icons">autorenew</i></a>
          <input type="email" formControlName="email" id="email"
                  (ngModelChange)="checkDifferences($event, 'email')"
                  required
                  name="email"
                  placeholder="Ex. henry.cavil@example.com">
        </div>
  
        <!-- Champ adresse -->
        <div class="form-group">
          <label for="cp">Adresse</label>
          <a *ngIf="validator.visibleDefaultEmail" (click)="backToSnap('address')"><i class="waves-effect right material-icons">autorenew</i></a>
          <input type="text" formControlName="address" id="address"
                  (ngModelChange)="checkDifferences($event, 'address')"
                  required
                  name="address"
                  placeholder="Ex. 2 rue de la république">
        </div>
  
        <!-- Buttons -->
        <div class="divider"></div>
        <div class="section center">
          
          <button 
            type="button"
            (click)="backToList()"
            class="waves-effect waves-light btn">
            Retour
          </button>
          <button 
            type="submit"
            class="waves-effect waves-light btn"
            [disabled]="!validator.buttonState">
            {{btnText}}
          </button>

          <button 
            type="button" 
            (click)="generateTestValue()"
            class="waves-effect waves-light btn"> 
            Remplissage de test
          </button>
        </div>
      </div>
    </div>
  </div>
</form>