<h1 class=" center">Création d'un nouveau compte</h1>

<form [formGroup]="accountForm" (submit)="onSubmit()">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel">
  
        <!-- Champ username -->
        <div class="form-group">
          <label for="name">username</label>
          <input type="text" formControlName="username" id="username"
                  required
                  name="username"
                  placeholder="Ex. henrycavill">
        </div>

        <!-- Champ mot de passe -->
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" formControlName="password" id="password"
                required
                name="password"
                placeholder="Ex. **********">
        </div>
  
        <!-- Champ email -->
        <div class="form-group">
          <label for="hp">E-mail</label>
          <input type="email" formControlName="email" id="email"
                  required
                  name="email"
                  placeholder="Ex. henry.cavil@example.com">
        </div>
  
        <!-- Buttons -->
        <div class="divider"></div>
        <div class="section center">
          
          <button 
            type="button"
            (click)="backToHome()"
            class="waves-effect waves-light btn">
            Retour
          </button>
          <button 
            type="submit"
            class="waves-effect waves-light btn"
            [disabled]="accountForm.invalid">
            S'enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- 
<button 
  type="button" 
  (click)="fillTestValues()"
  class="waves-effect waves-light btn"> 
  Remplissage de test
</button>-->